{# Cisco Catalyst - Add VLAN (apply via terminal, paste vào config t) #}
vlan {{ vlans[0].vlan_id }}
 name {{ vlans[0].name }}
{% for v in vlans[1:] %}
vlan {{ v.vlan_id }}
 name {{ v.name }}
{% endfor %}
