{# Cisco IOS-XE - Config BGP-LS #}
router bgp {{ local_as }}
 bgp router-id {{ router_id }}
 neighbor {{ peer_address }} remote-as {{ peer_as }}
 address-family link-state link-state
  neighbor {{ peer_address }} activate
 exit-address-family
