{# Cisco IOS-XE - Config ACL #}
ip access-list extended {{ acl_name }}
{% for rule in rules %}
 {{ rule.action }} {{ rule.protocol }} {{ rule.source }} {{ rule.dest }} eq {{ rule.port }}
{% endfor %}
