{# Juniper MX - Config IS-IS (apply via terminal)
   Variables: level (1 or 2), net (e.g. 49.0001.0000.0000.0001.00), interface_list #}
set protocols isis interface all level {{ level }} passive
set protocols isis net {{ net }}
{% for iface in interface_list %}
set protocols isis interface {{ iface }}
{% endfor %}
