{# Juniper MX - Config BGP-LS (apply via terminal)
   Variables: local_address, peer_address, peer_as #}
set protocols bgp group bgp-ls type internal
set protocols bgp group bgp-ls local-address {{ local_address }}
set protocols bgp group bgp-ls neighbor {{ peer_address }} peer-as {{ peer_as }}
set protocols bgp group bgp-ls family inet labeled-unicast
set protocols bgp group bgp-ls family link-state
